* {
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    justify-content: center;
}
.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1em;
    align-items: center;
    width: 70vw;
    margin-top: 50px;
}

.image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

h1 {
    margin-top: 30px;
    padding-left: 50px;
    font-family: Raleway, sans-serif;
    font-size: 100px;
}
.inputfile {
    padding-left: 50px;
    width: 200px;
    height: 45px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    cursor: crosshair;
}

.inputfile + label {
    font-size: 15px;
    font-weight: 200;
    color: black;
    background-color: white;
    display: inline-block;
    padding-left: 50px;
    margin-top: 20px;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.2em;
    cursor: crosshair;
}
/*
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
} */

.form .input {
    background-color: white;
    -webkit-appearance: none;
    outline: none;
    border: 0px;
    outline-width: 0;
    height: 30px;
    width: 200px;
    font-family: Raleway, sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: black;
    letter-spacing: 0.1em;
    display: block;
    padding-left: 50px;
}

#upload-btn {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    color: black;
    background-color: white;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 0.2em;
    padding-left: 50px;
    display: block;
    cursor: crosshair;
}

#upload-btn:hover {
    color: #939393;
    cursor: crosshair;
}
.modal-wrapper {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    /* display: table; */
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.oneimage {
    position: relative;
    margin-top: 80px;
    max-width: 50vw;
    max-height: 50vh;
    margin-left: 15vw;
}

.imageDetails {
    margin-left: 15vw;
    font-family: Raleway, sans-serif;
}

.imageDetails h2 {
    font-family: Raleway, sans-serif;
    font-size: 30px;
    letter-spacing: 0.1em;
    margin-top: 20px;
}
.commentSection input {
    background-color: white;
    -webkit-appearance: none;
    outline: none;
    display: block;
    border: 0px;
    outline-width: 0;
    height: 20px;
    width: 200px;
    font-family: Raleway, sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: black;
    letter-spacing: 0.1em;
}
.commentSection {
    margin-left: 15vw;
    margin-top: 20px;
}
.commentSection h2 {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
}
.allComments {
    font-family: Raleway, sans-serif;
    position: absolute;
    top: 80px;
    right: 400px;
    overflow: scroll;
}

#comments {
    padding: 10px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    color: #3f3f3f;
    background-color: white;
    font-family: Raleway, sans-serif;
    font-weight: 100;
    font-size: 40px;
}

.comments-btn {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    color: black;
    background-color: white;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.1em;
    cursor: crosshair;
    padding: 0;
}

.load-more-btn {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    color: black;
    background-color: white;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.1em;
    cursor: crosshair;
    padding: 20px;
    display: block;
    margin: 0 auto;
}
